@import "variables";

pre {
  background-color: $color-middle;
  padding: 1rem;
}
.code-block {
  display: inline-block;
  color: #ffffff;
  width: 100%;
  margin-top: 0.5rem;
}

.header-image-bg-dark {
  background-color: $color-middle;
}